.all-dropdown{
    display: grid;
    grid-template-columns: 50% 50%;
}

.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.graph{
    height: 100vh;
}

.label-head{
    padding-bottom: 5px;
}

.select-btns{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.green-clr {
    background: #6ac17b !important;

}

.blue-clr {
    background: #abd4fa !important;

}

.red-clr {
    background: #fe4640 !important;
}

.gray-clr{
    background: #83837c!important;
}